$width-god: 1360px;
$width: 1160px;

$color-bc: rgb(248, 225, 202);
$color-text-01: rgb(71, 129, 74);
$color-text-02: rgb(214, 139, 77);
$color-text-03: rgb(0, 0, 0);
$color-text-04: rgb(255, 255, 255);

$font-size-head-01: 20px;
$font-size-head-02: 18px;

$font-size-main-01: 50px;
$font-size-main-02: 40px;
$font-size-main-03: 30px;
$font-size-main-04: 20px;
$font-size-main-05: 15px;

$border-radius: 5px;

@media (max-width: 400px) {
    $width-god: 372px;
    $width: 308px;
}
