/* [<=-=-=-=-=-=-=-=-=-=-=-=>][<=-=-=-=-=-=-=-=-=-=-=-=>][<=-=-= */
/* BP */
/* [<=-=-=-=-=-=-=-=-=-=-=-=>][<=-=-=-=-=-=-=-=-=-=-=-=>][<=-=-= */
/* [<=-=-=-=-=-=-=-=-=-=-=-=>][<=-=-=-=-=-=-=-=-=-=-=-=>][<=-=-= */
/* SPECIFIC CLASSES */
/* [<=-=-=-=-=-=-=-=-=-=-=-=>][<=-=-=-=-=-=-=-=-=-=-=-=>][<=-=-= */
.header {
  width: 1160px;
  margin-top: 64px;
  margin-bottom: 64px;
  margin-left: auto;
  margin-right: auto;
}
.header .flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: hidden;
}
.header .flexbox .flex-1 {
  display: flex;
  flex-direction: row;
}
.header .flexbox .flex-1 .icon {
  width: 69px;
  height: 50px;
}
.header .flexbox .flex-1 .text {
  color: rgb(71, 129, 74);
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 12px;
  margin-top: auto;
  margin-bottom: auto;
}
.header .flexbox .secret-icon {
  color: transparent;
  background-color: transparent;
  margin-top: auto;
  margin-bottom: auto;
}
.header .flexbox .flex-2 {
  display: flex;
  flex-direction: row;
}
.header .flexbox .flex-2 .nav-link {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 18px;
  margin-left: 48px;
  margin-top: auto;
  margin-bottom: auto;
}
.header .flexbox .flex-2 .nav-link.button {
  color: rgb(255, 255, 255);
  background-color: rgb(71, 129, 74);
  border-radius: 5px;
  padding: 8px 14px;
  width: 93px;
  height: 40px;
}

/* [<=-=-=-=-=-=-=-=-=-=-=-=>][<=-=-=-=-=-=-=-=-=-=-=-=>][<=-=-= */
/* MAIN 01 */
/* [<=-=-=-=-=-=-=-=-=-=-=-=>][<=-=-=-=-=-=-=-=-=-=-=-=>][<=-=-= */
.main-01 .grid-box {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  gap: 100px;
  display: grid;
  grid-template-columns: auto auto;
  margin-bottom: 150px;
}
.main-01 .grid-box .card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  margin: 0 50px;
}
.main-01 .grid-box .card .title {
  font-size: 50px;
  font-weight: bold;
}
.main-01 .grid-box .card .para {
  font-size: 20px;
}
.main-01 .grid-box .card .button {
  color: rgb(255, 255, 255);
  background-color: rgb(71, 129, 74);
  border: none;
  padding: 20px 20px;
  width: 70%;
}
.main-01 .grid-box .card .button.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-01 .grid-box .card .button .upp {
  text-transform: uppercase;
}
.main-01 .grid-box .svg {
  margin: auto 50px;
}

/* [<=-=-=-=-=-=-=-=-=-=-=-=>][<=-=-=-=-=-=-=-=-=-=-=-=>][<=-=-= */
/* MAIN 02 */
/* [<=-=-=-=-=-=-=-=-=-=-=-=>][<=-=-=-=-=-=-=-=-=-=-=-=>][<=-=-= */
.main-02 .grid-box {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  gap: 100px;
  display: grid;
  grid-template-columns: 2fr 3fr;
  margin-bottom: 150px;
}
.main-02 .grid-box .card {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-right: 10px;
}
.main-02 .grid-box .card .title-1 {
  font-size: 30px;
  color: rgb(214, 139, 77);
}
.main-02 .grid-box .card .title-2 {
  font-size: 50px;
  font-weight: bold;
  color: rgb(71, 129, 74);
}
.main-02 .grid-box .card .para {
  font-size: 20px;
}
.main-02 .grid-box .card .button {
  color: rgb(255, 255, 255);
  background-color: rgb(71, 129, 74);
  border: none;
  padding: 20px 20px;
  width: 80%;
}
.main-02 .grid-box .card .button.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-02 .grid-box .card .button .upp {
  text-transform: uppercase;
}
.main-02 .grid-box .grid-box-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 40px;
}
.main-02 .grid-box .grid-box-2 .card-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding: 40px;
  border-radius: 5px;
}
.main-02 .grid-box .grid-box-2 .card-2.hover {
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.1);
  background-color: white;
}
.main-02 .grid-box .grid-box-2 .card-2.hover .icon {
  background-color: rgb(71, 129, 74);
  border-radius: 5px;
}
.main-02 .grid-box .grid-box-2 .card-2 .icon {
  width: 48px;
  height: 48px;
  background-color: rgb(255, 255, 255);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.1);
}
.main-02 .grid-box .grid-box-2 .card-2 .title {
  font-size: 30px;
  font-weight: bold;
}
.main-02 .grid-box .grid-box-2 .card-2 .para {
  font-size: 20px;
}

/* [<=-=-=-=-=-=-=-=-=-=-=-=>][<=-=-=-=-=-=-=-=-=-=-=-=>][<=-=-= */
/* MAIN 03 */
/* [<=-=-=-=-=-=-=-=-=-=-=-=>][<=-=-=-=-=-=-=-=-=-=-=-=>][<=-=-= */
.main-03 {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  width: 1160px;
  margin-bottom: 150px;
}
.main-03 .titles {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 50px;
}
.main-03 .titles .text {
  margin-left: auto;
  margin-right: auto;
  text-transform: uppercase;
}
.main-03 .titles .title-1 {
  font-size: 30px;
  color: rgb(214, 139, 77);
}
.main-03 .titles .title-2 {
  font-size: 50px;
  font-weight: bold;
  color: rgb(71, 129, 74);
}
.main-03 .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.main-03 .grid .box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 5px;
  padding: 50px 40px;
}
.main-03 .grid .box.hover {
  background-color: rgb(71, 129, 74);
}
.main-03 .grid .box.hover .icon {
  background-color: rgb(71, 129, 74);
  border-radius: 5px;
}
.main-03 .grid .box.hover .title {
  color: rgb(255, 255, 255);
}
.main-03 .grid .box.hover .para {
  color: rgb(255, 255, 255);
}
.main-03 .grid .box .icon {
  width: 64px;
  height: 64px;
  margin-bottom: 10px;
}
.main-03 .grid .box .title {
  font-size: 30px;
}
.main-03 .grid .box .title .upp {
  text-transform: uppercase;
}
.main-03 .grid .box .para {
  font-size: 20px;
}

/* [<=-=-=-=-=-=-=-=-=-=-=-=>][<=-=-=-=-=-=-=-=-=-=-=-=>][<=-=-= */
/* MAIN 04 */
/* [<=-=-=-=-=-=-=-=-=-=-=-=>][<=-=-=-=-=-=-=-=-=-=-=-=>][<=-=-= */
.main-04 {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
}
.main-04 .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
}
.main-04 .grid .card {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 70%;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 30px;
  margin-left: auto;
}
.main-04 .grid .card .title-1 {
  font-size: 30px;
  color: rgb(214, 139, 77);
}
.main-04 .grid .card .title-2 {
  font-size: 50px;
  font-weight: bold;
  color: rgb(71, 129, 74);
}
.main-04 .grid .card .para {
  font-size: 20px;
}
.main-04 .grid .card .button {
  color: rgb(255, 255, 255);
  background-color: rgb(71, 129, 74);
  border: none;
  padding: 20px 20px;
  width: 80%;
}
.main-04 .grid .card .button.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-04 .grid .card .button .upp {
  text-transform: uppercase;
}

/* [<=-=-=-=-=-=-=-=-=-=-=-=>][<=-=-=-=-=-=-=-=-=-=-=-=>][<=-=-= */
/* MAIN 05 */
/* [<=-=-=-=-=-=-=-=-=-=-=-=>][<=-=-=-=-=-=-=-=-=-=-=-=>][<=-=-= */
.main-05 {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
}
.main-05 .flexbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.main-05 .flexbox .titles {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 50px;
}
.main-05 .flexbox .titles .upp {
  text-transform: uppercase;
}
.main-05 .flexbox .titles .title-1 {
  font-size: 30px;
  color: rgb(214, 139, 77);
}
.main-05 .flexbox .titles .title-2 {
  font-size: 40px;
  font-weight: bold;
  color: rgb(71, 129, 74);
}
.main-05 .flexbox .nav {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.main-05 .flexbox .nav .button {
  text-decoration: none;
  border: none;
  background-color: transparent;
  margin-top: auto;
  margin-bottom: auto;
}
.main-05 .flexbox .nav .right {
  border-radius: 50%;
  padding: 9px 10px;
  background-color: rgb(71, 129, 74);
}
.main-05 .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
}
.main-05 .grid .box {
  background-color: rgb(241, 241, 241);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  padding: 30px 30px;
}
.main-05 .grid .box .flex-row {
  display: flex;
  flex-direction: row;
  gap: 0;
}
.main-05 .grid .box .flex-col {
  display: flex;
  flex-direction: column;
}
.main-05 .grid .box .name-1 {
  font-weight: bold;
  font-size: 20px;
}
.main-05 .grid .box .name-2 {
  text-transform: uppercase;
  font-size: 15px;
}
.main-05 .grid .box .para {
  font-size: 20px;
  margin-top: 20px;
  width: 80%;
}

.footer {
  background-color: rgb(253, 216, 182);
  padding-top: 1px;
  margin-top: -1px;
  padding-right: 1px;
  margin-right: -1px;
  padding-left: 1px;
  margin-left: -1px;
  padding-bottom: 1px;
  margin-bottom: -10px;
  width: 1360px;
}
.footer .container {
  width: 1160px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 64px;
  margin-bottom: 64px;
}
.footer .container .grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
}
.footer .container .grid .flex-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer .container .grid .flex-1 .flex {
  display: flex;
}
.footer .container .grid .flex-1 .text {
  color: rgb(71, 129, 74);
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  margin-left: 12px;
  margin-top: auto;
  margin-bottom: auto;
  height: 100%;
}
.footer .container .grid .flex-1 .upp {
  text-transform: uppercase;
}
.footer .container .grid .flex-2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  height: 100%;
}
.footer .container .grid .flex-2 .title {
  color: rgb(71, 129, 74);
  font-size: 18px;
  margin-bottom: 5px;
}
.footer .container .grid .flex-3 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  height: 100%;
}
.footer .container .grid .flex-3 .title {
  color: rgb(71, 129, 74);
  font-size: 18px;
  margin-bottom: 5px;
}
.footer .container .grid .flex-3 .upp {
  text-transform: uppercase;
}
.footer .container .grid .flex-3 .textarea {
  resize: none;
  width: auto;
  height: auto;
  margin-bottom: 15px;
  border: none;
  padding: 15px 25px;
  height: 113px;
}
.footer .container .grid .flex-3 .button {
  color: rgb(255, 255, 255);
  background-color: rgb(71, 129, 74);
  border: none;
  padding: 20px 20px;
}
.footer .container .grid .flex-3 .button.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  padding-top: 1px;
  margin-top: -1px;
  margin-right: -1px;
  margin-left: -1px;
}

.god-container {
  width: 1360px;
  margin-left: auto;
  margin-right: auto;
}/*# sourceMappingURL=base.css.map */